{% extends "base.html" %}

{% block content %}
    <h1>Bucket Access</h1>
    <form action="/request-bucket-access" method="post"> 
        <label for="bucket-name">Bucket Name:</label>
        <input type="text" id="bucket-name" name="bucket_name" required>
        <br>
        <label for="project">Select a Project:</label>
        <select id="project" name="project">
            <option value="mt-2dportal">mt-2dportal</option>
            <option value="geodigital-397409">Geodigital</option>
            <option value="datalake-426010">Datalake</option>
            <option value="optelos">optelos</option>
            <option value="point-cloud-mt">point-cloud-mt</option>
            <option value="d-general-presales">3d-general-presales</option>
        </select>
        <br>
        <!-- <label for="Region">Select a Region:</label>
        <select id="region" name="region">
            <option value="europe-west2">europe-west2</option>
            <option value="europe-west4">europe-west4</option>
            <option value="us-east1">us-east1</option>
            <option value="us-central1">us-central1</option>
            <option value="us-west1">us-west1</option>    
            <option value="us-west2">us-west2</option>           
        </select>
        <br> -->

        <!-- User Dropdown -->
        <label for="user">Select a User:</label>
        <select id="user" name="user">
            <option value="sridhar@mindtrace.ai">Sridhar Dammala</option>
            <option value="joshua@mindtrace.ai">Joshua Lister</option>
            <option value="pankhuri@mindtrace.ai">Pankhuri Kulshrestha</option>
            <option value="mazen.elabd@mindtrace.ai">Mazen  Elabd</option>
            <option value="vineeth@mindtrace.ai">Vineeth Subramanyan</option>
            <option value="Yasser.El.Haddar@mindtrace.ai">Yasser El Haddar</option>
            <option value="yash.pedireddi@gmail.com">Yash Pedireddi</option>
        </select>
        <br>

        <button type="submit">Request Admin Access</button>
    </form>
{% endblock %}