{% extends "base.html" %}

{% block content %}
    <h1>Create Bucket</h1>
    <form action="/create-bucket" method="post">
        <label for="new-bucket-name">Bucket Name:</label>
        <input type="text" id="new-bucket-name" name="new_bucket_name" required>
        <br>
        <label for="project">Select a Project:</label>
        <select id="project" name="project" onchange="fetchBuckets()">
            <option value="">-- Select a Project --</option>
            {% for project in projects %}
                <option value="{{ project }}">{{ project }}</option>
            {% endfor %}
        </select>
        <br>
        
        <label for="Region">Select a Region:</label>
        <select id="region" name="region">
            <option value="europe-west2">europe-west2</option>
            <option value="europe-west4">europe-west4</option>
            <option value="us-east1">us-east1</option>
            <option value="us-central1">us-central1</option>
            <option value="us-west1">us-west1</option>    
            <option value="us-west2">us-west2</option>           
        </select>
        <br>

        <!-- User Dropdown -->
        <label for="user">Select a User:</label>
        <select id="user" name="user">
            <option value="amalia@mindtrace.ai">Amalia Kassay</option>
            <option value="andrii.zelenko@mindtrace.ai">Andrii Zelenko</option>
            <option value="Angeliki.Mylona@mindtrace.ai">Angeliki Mylona</option>
            <option value="can.elbirlik@mindtrace.ai">Can Elbirlik</option>
            <option value="Chance.McKimmy@mindtrace.ai">Chance McKimmy</option>
            <option value="christopher.fish@mindtrace.ai">Christopher Fish</option>
            <option value="jeremy@mindtrace.ai">Jeremy Wurbs</option>
            <option value="joshua@mindtrace.ai">Joshua Lister</option>
            <option value="Martha.Mitsopoulou@mindtrace.ai">Martha Mitsopoulou</option>
            <option value="mayank@mindtrace.ai">Mayank  Sharma</option>
            <option value="mazen.elabd@mindtrace.ai">Mazen Elabd</option>
            <option value="nan.wang@mindtrace.ai">Nan Wang</option>
            <option value="pankhuri@mindtrace.ai">Pankhuri Kulshrestha</option>
            <option value="santhosh@mindtrace.ai">Santhosh Holla</option>
            <option value="sridhar@mindtrace.ai">Sridhar Dammala</option>
            <option value="vineeth@mindtrace.ai">Vineeth Subramanyan</option>
            <option value="yash@mindtrace.ai">Yashasvi Pedireddi</option>
            <option value="Yasser.El.Haddar@mindtrace.ai">Yasser El Haddar</option>
        </select>
        <br>

        <button type="submit">Create Bucket</button>
    </form>
{% endblock %}